footer{
    background: #02362E;
    padding: 50px 0;
}
footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .footer-content div{
    width: 48%;

}
footer .footer-content .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footer-content .logo img{
    width: 70%;
}
footer .footer-content .text-content ul{
    list-style: none;
}
footer .footer-content .text-content ul li{
    margin: 15px 0;
    font-size: 1.5rem;
    color: var(--white);
}
footer .footer-content .text-content ul li img{
    margin-right: 20px;
    width: 20px;
}
footer .footer-content .text-content .social-icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
footer .footer-content .text-content .social-icons i{
    margin-right: 20px;
    color: var(--white);
    font-size: 2rem;
}
hr {
    margin: 50px 0 20px;
    border: none;
    height: 3px;
    color: #fff;
    background-color: #fff;
}
footer .rights-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .rights-content .vision-logo img{
    width: 70%;
}
footer .rights-content span{
    color: var(--white);
    font-size: 1.2rem;
    margin-left: 20px;
}
@media (max-width:768px){
    footer .footer-content .text-content ul li{
        font-size: 1.2rem;
    }
    footer .footer-content .text-content ul li img{
        margin-right: 5px;
        width: 15px;
    }
    footer .footer-content .logo img{
        width: 100%;
    }
    .rights-content .text-content{
        width: 110%;
    }
    footer .rights-content span{
        font-size: 1rem;
        color: var(--white);
        margin-left: 10px;
        text-align: left;
    }
    footer .rights-content .vision-logo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    footer .rights-content .vision-logo img{
        width: 55%;
    }
}
